/* NAVIGATION */
nav ul {
    position: absolute;
    display: flex;
    margin: 5px;
    padding: 4px;
    border: solid var(--default-white) 2px;
    border-radius: 2px;
    box-shadow: 2px 1px 4px var(--default-black);
    letter-spacing: 0.8px;
}

nav ul li {
    list-style: none;
    margin: 0px 5px 0px 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--default-white);
    text-shadow: 1px 1px 3px var(--default-black);
}

nav ul li a:hover {
    color: #e2e2e2;
}

/* FOOTER */
/* Note - this is sort of a background element - unsure if it might be better to treat it as such, ie no semantic HTML. */
footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer h1 {
    font-family: 'Pacifico', Times, serif;
    color: var(--fg-blue-3);
    font-size: 3em;
    font-style: italic;
    text-shadow: 0.15em 0.15em white;
    /* padding: 0px 0.15em 1em 0px; */
    padding: 0px 1vw 1em 0px;
}

/* Media query for breaking point of font needed - try to find it relative */

/* MAIN - SEARCH BAR AND TODAY'S WEATHER */
main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.left-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}

.right-container {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

.left-container, .right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sunrise figcaption, #sunset figcaption {
    position: absolute;
    margin-top: -60px;
    margin-left: 21px;
    color: var(--default-white);
    text-shadow: 2px 2px 8px var(--default-black);
}

#sunrise img, #sunset img {
    height: 100px;
    width: 100px;
}

.central-container { /* Do I still need this? */
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
}

.today-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 18vh;
    padding: 4px 16px;
    border: 2px solid white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px var(--default-black);

}

.today-display header {
    grid-column: 1 / span 2;
}

.today-display h2 {
    font-size: max(16px, 5vh);
    margin-bottom: max(2px, 2vh);
}

.today-display ins {
    color: #e2e2e2;
}

.today-display figure {
    margin-left: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-display img {
    height: max(20vh);
    aspect-ratio: 1 / 1;
    -webkit-filter: drop-shadow(2px 2px 2px var(--default-black));
}

.today-display figcaption {
    font-size: max(0.6em, 2vh);
    margin-top: 6px;
    text-shadow: 1px 1px 2px var(--default-black);
    text-decoration: underline;
}

#today-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#today-data section{
    padding: 0.3vh;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr;
}

#today-data h4{
    font-size: max(0.5em, 3vh);
    font-weight: 500;
}

.marker {
    display: flex;
    justify-content: center;
}

.search-box { 
    flex-shrink: 1;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 6px;
    margin-bottom: 8em;
    border: 2px solid white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px var(--default-black);
}

.search-box form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: -8px 8px -2px 8px;
    color: var(--default-white);
}

#search-input-label{
    font-size: 0.6em;
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
}

.search-previous {
    grid-column: 1 / span 2;
}

.search-box h4 {
    color: var(--default-white);
    font-size: 0.7em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px var(--default-black);
    padding: 0;
    margin: 0;
    border: none;
}

.search-box h4 a {
    color: #e2e2e2;
    text-shadow: 1px 1px 2px var(--default-black);
}

.search-box h4 a:hover{
    color: var(--fg-blue-1);
}

/* ASIDE - FUTURE WEATHER FORECAST */
aside {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.future-block, .header-block {
    border: 1px solid white;
    border-radius: 2px;
    width: 15vh;
    min-height: 8vh;
    margin: 1vh 2vh;
    box-shadow: 2px 2px 8px var(--default-black);
    font-weight: normal;
    color: var(--default-white);
    text-shadow: 1px 1px 3px var(--default-black);
    font-size: 0.6em;
    aspect-ratio: 1 / 1;
}

.header-block {
    background-color: var(--bg-yellow-9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid var(--default-white) 2px;
    border-radius: 2px;
    box-shadow: 2px 1px 4px var(--default-black);
    letter-spacing: 0.8px;
    font-size: 1em;
}

aside h2 {
    text-shadow: 1px 1px 3px var(--default-black);
    font-size: 1em;
    font-weight: normal;
    color: var(--default-white);
}

.future-block:nth-of-type(2) {
    background-color: var(--bg-yellow-8);
}

.future-block:nth-of-type(3) {
    background-color: var(--bg-yellow-7);
}

.future-block:nth-of-type(4) {
    background-color: var(--bg-yellow-5);
}

.future-block:nth-of-type(5) {
    background-color: var(--bg-yellow-4);
}

.future-block:nth-of-type(6) {
    background-color: var(--bg-yellow-3);
}

.future-block {
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.lead {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
}

.day-marker {
    padding-top: 4px;
    font-weight: 600;
    border-bottom: none;
    padding-bottom: 4px;
}

.day-marker sub {
    padding: 3px;
    font-size: 0.4em;
}

.future-block .icon {
    padding: 4px;
}

.future-block .icon img {
    max-height: 100%;
    max-width: 100%;
    -webkit-filter: drop-shadow(2px 2px 4px var(--default-black));
    filter: drop-shadow(2px 2px 4px var(--default-black));
}

.temp-marker, .humidity-marker, .windspeed-marker {
    grid-column: 2;
    grid-row: span 1;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--default-white);
    padding: 2px;
}