@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --bg-yellow-1: #ffea00;
    --bg-yellow-2: #ffdd00;
    --bg-yellow-3: #ffd000;
    --bg-yellow-4: #ffc300;
    --bg-yellow-5: #ffb700;
    --bg-yellow-6: #ffaa00;
    --bg-yellow-7: #ffa200;
    --bg-yellow-8: #ff9500;
    --bg-yellow-9: #ff8800;
    --bg-yellow-10: #ff7b00;
    --fg-blue-1: #00509d;
    --fg-blue-2: #003f88;
    --fg-blue-3: #00296b;
    --default-white: #fffceb;
    --default-black:#000814;
  }

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; /* Want to change this */
}

#background-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.block-gradient {
    background-color: var(--bg-yellow-1);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(10, 10%);
}

.block-gradient div:nth-of-type(1) {
    background: var(--bg-yellow-10);
}

.block-gradient div:nth-of-type(2) {
    background: var(--bg-yellow-9);
}

.block-gradient div:nth-of-type(3) {
    background: var(--bg-yellow-8);
}

.block-gradient div:nth-of-type(4) {
    background: var(--bg-yellow-7);
}

.block-gradient div:nth-of-type(5) {
    background: var(--bg-yellow-6);
}

.block-gradient div:nth-of-type(6) {
    background: var(--bg-yellow-5);
}

.block-gradient div:nth-of-type(7) {
    background: var(--bg-yellow-4);
}

.block-gradient div:nth-of-type(8) {
    background: var(--bg-yellow-3);
}

.block-gradient div:nth-of-type(9) {
    background: var(--bg-yellow-2);
}


.center-circle {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sun {
    flex-grow: 8;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-yellow-3);
    border-radius: 50%;
}

.space {
    flex-grow: 1;
}

/* Rotates the flexbox action if height becomes greater than width */
@media (orientation:portrait) {
    .center-circle {
        flex-direction: row;
    }
    .space {
        flex-grow: 0.5;
    }
}

nav ul {
    position: absolute;
    display: flex;
    margin: 5px;
    padding: 4px;
    border: solid var(--default-white) 2px;
    box-shadow: 2px 1px 4px var(--default-black);
    letter-spacing: 0.8px;
}

nav ul li {
    list-style: none;
    margin: 0px 5px 0px 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--default-white);
    text-shadow: 1px 1px 3px var(--default-black);
}

nav ul li a:hover {
    color: #e2e2e2;
}