:root {
    --bg-yellow-1: #ffea00;
    --bg-yellow-2: #ffdd00;
    --bg-yellow-3: #ffd000;
    --bg-yellow-4: #ffc300;
    --bg-yellow-5: #ffb700;
    --bg-yellow-6: #ffaa00;
    --bg-yellow-7: #ffa200;
    --bg-yellow-8: #ff9500;
    --bg-yellow-9: #ff8800;
    --bg-yellow-10: #ff7b00;
    --fg-blue-1: #00509d;
    --fg-blue-2: #003f88;
    --fg-blue-3: #00296b;
    --default-white: #fffceb;
    --default-black:#000814;
  }

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; /* Want to change this */
}

.background {
    background-color: var(--bg-yellow-1);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(10, 10%);
}

.background div:nth-of-type(1) {
    background: var(--bg-yellow-10);
}

.background div:nth-of-type(2) {
    background: var(--bg-yellow-9);
}

.background div:nth-of-type(3) {
    background: var(--bg-yellow-8);
}

.background div:nth-of-type(4) {
    background: var(--bg-yellow-7);
}

.background div:nth-of-type(5) {
    background: var(--bg-yellow-6);
}

.background div:nth-of-type(6) {
    background: var(--bg-yellow-5);
}

.background div:nth-of-type(7) {
    background: var(--bg-yellow-4);
}

.background div:nth-of-type(8) {
    background: var(--bg-yellow-3);
}

.background div:nth-of-type(9) {
    background: var(--bg-yellow-2);
}

nav ul {
    position: absolute;
    display: flex;
    margin: 5px;
    padding: 4px;
    border: solid var(--default-white) 2px;
    box-shadow: 2px 1px 4px var(--default-black);
}

nav ul li {
    list-style: none;
    margin: 0px 5px 0px 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--default-white);
    text-shadow: 1px 1px 3px var(--default-black);
}

nav ul li a:hover {
    color: var(--fg-blue-3); /*Not sure about this colour */
}